@import "tailwindcss";

@font-face {
  font-family: 'MyFont';
  src: url(/fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'yourfont';
  src: url(/fonts/Outfit-VariableFont_wght.ttf) format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'logofont';
  src: url(/fonts/circular-std-medium-500.ttf) format('truetype');
  font-weight:bold;
  font-style: normal;
}
body{
  margin: 0;
  padding: 0;
  font-family: "yourfont";
  box-sizing: border-box;
}
*{
  box-sizing: border-box; 
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* Fix Toastify font */
.Toastify__toast {
  font-family: inherit !important;
}
.spinner {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.8s linear infinite;
  margin-right: 8px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



