@import "tailwindcss";

@font-face {
  font-family: 'MyFont';
  src: url(/fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'yourfont';
  src: url(/fonts/Outfit-VariableFont_wght.ttf) format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'logofont';
  src: url(/fonts/circular-std-medium-500.ttf) format('truetype');
  font-weight:bold;
  font-style: normal;
}
body{
  margin: 0;
  padding: 0;
  font-family: "yourfont";
  box-sizing: border-box;
}
*{
  box-sizing: border-box; 
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* Fix Toastify font */
.Toastify__toast {
  font-family: inherit !important;
}



